
.project-container{
    width: 100vw;
    height: 100vh;
    background-color: var(--main-dark-color);
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;

}
.project-wrapper{
    width: 80%;
    height: 80%;
    background-color: var(--main-ligth-color);
    display: flex;
    border-radius: 20px;
    margin-top: 50px;
    

}
.project-wrapper-titles{
    width: 50%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: start;
    justify-content: center;
    border-radius: 20px 0px 0px 20px;
    
    margin-left: 30px;

}
.project-title{
    
    width: 90%;
    height: 100px;
    
}
.project-title h1{
    font-family: 'Stalinist One', sans-serif,'Staatliches';
    font-size: 48px;
}
.project-subtitle{
    
    width: 90%;
    height: 80px;
    margin: 0;
}
.project-subtitle h2{
    
    font-family: "staatliches";
    font-size: 32px;
    
}
.project-text{
    
    width: 70%;
    height: 50px;
    margin: 0;
    
}
.project-text p {
    
    font-size: 20px;
    font-family: Inter;
    margin: 0;
}
.project-button{
    background-color: var(--main-terciary-color);
    width: 60%;
    height: 80px;
    margin-top: 30px;
    border-radius: 20px;
    border: 5px solid var(--main-dark-color);
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
}
.project-button h1{
    font-family: "staatliches";
}
.project-button a{
    color: var(--main-dark-color);
    text-decoration: none;
}
.project-wrapper-image{
    background-color: var(--main-terciary-color);
    width: 50%;
    height: 100%;
    border-radius: 0 20px 20px 0;
    display: flex;
    justify-content: center;
    align-items: center;
    border: 5px solid var(--main-dark-color);
}
.project-image{
    width: 90%;
    height: 60%;
    border-radius: 10px;
    
    
}


.rigth{
    position: absolute;
    left: 50%;
    border-radius: 0 20px 20px 0;
    
}

@media (max-width:600px) {
    .project-wrapper{
        width: 90vw;
        flex-direction: column;
        margin: 0;
        
        
        
    }
    .project-container{
       align-items: center;
       justify-content: center;
       
       
    }
    .project-wrapper-titles{
        display: flex;
        justify-content: start;
        align-items: center;
        width: 100vw;
        margin-left: 0;
        border-radius: 20px;
    }
    .project-title{
        margin-top: 30px;
        margin-left: 0;
    }
    .project-title h1{
        font-size: 30px;
        margin-left: 0;
        
    }
    .project-subtitle{
        margin: 20px;
    }
   
    .project-text{
        width: auto;
        height: 80px;
        margin-top: 10px;
        margin-left: 15px;
        
        
    }
    .project-button{
        width: 150px;
        height: 50px;
        margin: 10px;
        margin-bottom: 15px;
        
    }
    .project-button h1{
        font-size: 20px;
    }
    
    
    
    .project-wrapper-image{
        
        width: 100%;
        border: none;
        border-radius: 10px;
    }
    .project-wrapper-image img{
        width: 90%;
        height: auto;
        margin: 0 ;
    }
    .rigth{
        position: relative;
        left: 0;
    }

}
