.words-container{
    width: 100vw;
    background-color: black;
    overflow: hidden;
}
.row{
    display: flex;
    width: 200vw;
    
}
.row h1{
    color: var(--main-ligth-color);
    margin: 10px;
    font-family: Staatliches; 
    font-size: 142px; 

}
@media (max-width: 600px) {
    .row{
        width: 500vw;
        gap: 20px;
    }
    .row h1{
        font-size: 60px;
        margin: 0;
        
    }
}