.ilustrate-container{
    position: relative;
    width: 100vw;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 200px;
    
    
}
.object-image{
    width: 300px;
    position: absolute;
    left: -50px;
    top: -50px;
    margin: 0;
    z-index: 2;
    
    
    
}
.ilustrate-image{
    width: 95%;
    height: 100%;
    background-color: var(--main-terciary-color);
    margin-top: 70px;
    border: 5px solid var(--main-dark-color);
    border-radius: 10px;
    position: relative;

}
.ilustrate-image img {
    width: 100%;
    height: 100%;
    

}
@media (max-width: 600px) {
    .ilustrate-container{
        height: 50vh;
    }
    .ilustrate-image{
        height: auto;
        
    }
    .ilustrate-image img{
        width: 100%;
        height: 100%;
        margin: 0;
    }
    .object-image{
        width: 200px;
        top: 80%;
    }
}