
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@700&family=Oswald:wght@600&family=Roboto+Condensed:wght@700&display=swap');

.wrapper{
    display:flex;
}

section{
    width: 100vw;
    overflow: hidden;
}
.video-section video{ 
    height: 100vh;
    width:  100vw;
    object-fit: cover;
    z-index: -2;
    position: relative;
}
.image-container{
    position: absolute;
    top: 0;
    height: 100vh;
    width: 100vw;
}
.image-container img{
    object-fit: cover;
    height: 100vh;
    width: 100vw;
}
.text-content{
    position: absolute;
    top: 0;
    height: 100vh;
    width: 100vw;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    
}
.title{
    font-family: w;
    width: 450px;
    position: relative;
    height: 110px;
    overflow: hidden;
    color: white;
}
.bg{
    font-size: 100px;
}
.sm{
    font-size: 35px;
    height: 40px;
}
.left{
    left: -25%;
}
.right{
    top: 50px;
    left: 75%;
}
.title span{
    position: absolute;
}
.n{
    z-index: -1;
    
}

.text-content p{
    transform: translateY(150px);
    text-transform: uppercase;
    font-size: 12px;
    letter-spacing: 12px;
    font-weight: 300;
}