.header-container{
    position: fixed;
    z-index: 999;
    width: 99%;
    display: flex;
    justify-content: center;
    margin: 5px;
}



.header-container ul {
    width: 50%;
    align-items: center;
    justify-content: space-around;
    display: flex;
    padding: 0 20px;
    
}
.header-container ul li {
    opacity: 1;
    list-style: none; 
}
.header-container ul li a {
    text-decoration: none;
    color: #01BDCE;
    font-style: normal;
    font-weight: 700;
    font-size: 20px;
    line-height: 24px;
    
}

.header-container ul li a img{
    width: 20%;
    height: 35%;

}