.header-container{
    position: fixed;
    z-index: 999;
    width: 99%;
    display: flex;
    justify-content: center;
    margin: 10px;
    
    width: 100vw;
    height: 65px;
    
}

.header-container h1{
    color: white;
}

.header-container ul{
    width: 50%;
    display: flex;
    justify-content: space-around;
}
.header-container ul a {
    font-family:'Staatliches'; 
    text-decoration: none;
    color: var(--main-ligth-color);
}
.header-container .button{
    width: 20%;
    height: 30px;
    background-color: var(--main-terciary-color);
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 20px;
    font-family:'Staatliches'; 
    
    
}
.header-container .button a {
    color: var(--main-dark-color);
    text-decoration: none;
}

.header-container nav {
    width: 70%;
    height: 100%;
    margin: 0;
    align-items: center;
    justify-content: space-around;
    display: flex;
    background-color: black;
    border-radius: 30px;

    
}
@media (max-width:600px){
    .header-container{display: none;}
}
