.action-container{
 margin: 0;
 width: 100vw;
 height: 100vh;
 background-color: var(--main-dark-color);
 display: flex;
 flex-direction: row;
 
}

.action-wrapper{
    width: 60%;
    height: 90%;
    display: flex;
    flex-direction: column;
    
    
}
.action-title{
    width: 100%;
    margin-left: 50px;
    
}
.action-title h1{
    color: var(--main-ligth-color);
    font-size: 60px;
    font-family: 'Stalinist One', sans-serif,'Staatliches';
    margin: 0;
    
}
.action-subtitle{
    width: 60%;
    height: 10%;
    margin-top: 30px;
    margin-left: 50px;
    
    color: white;
}
.action-subtitle h3{
    font-size: 30px;
    font-family: 'Staatliches';
    
}
.yellow {
    color: var(--main-terciary-color);
}
.image{
    background-color: var(--main-ligth-color);
    width: 30vw;
    height: 60vh;
    margin: 50px;
    border-radius: 20px;
    border: 5px solid var(--main-ligth-color);
    display: flex;
    align-items: center;
    justify-content: center;
    

}
.image img{
    width: 100%;
    height: 70%;
    border-radius: 10px;

    
}
@media (max-width: 600px) {
    .action-container{
        flex-direction: column;
    }
    .action-title{
        
        width: 90vw;
        margin: 0;
    }
    .action-title h1{
        font-size: 42px;
    }
    .action-wrapper{
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        align-items: flex-start;
        width: 100vw;
        height: 50%;


    }
    .action-subtitle {
        width: auto;
        margin-left: 0;
        display: flex;
        justify-content: center;
        align-items: center;
        

    }
    .image{
        width: 90vw;
        height: 200px;
        margin: 0;
        
    }
    .image img{
        margin: 10px;
        height: 200px;
        width: 90vw;
    }
}
