@import url('https://fonts.googleapis.com/css2?family=Inter:wght@700&family=Oswald:wght@600&family=Roboto+Condensed:wght@700&family=Stalinist+One&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@700&family=Oswald:wght@600&family=Roboto+Condensed:wght@700&family=Staatliches&display=swap');
:root{
  --main-ligth-color: #FFFFFF;
  --main-dark-color: #000000 ;
  --main-terciary-color: #FEED01;
  --main-four-color: #828282

}

* {
  
  margin: 0;
  padding: 0;
  overflow-x: hidden;
}







